/* 구글 아이콘 사용 */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

/* 메인 콘텐츠 */
.content {
    width: calc(100% - 373px);
    min-height: 100vh;
    padding: 65px 50px 30px 65px;
    margin-left: 373px;
}

.header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
}

.list-flex-box{
    display: flex;
    justify-content: space-between;
}

/* 정보 통계 박스 */
.info-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 정보 리스트 박스 - 테이블 */
.table-box {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
}

.table-box thead {
    background-color: #3A3D50;
    border-radius: 10px;
    color: #fff;
}

.table-box th,
.table-box td {
    padding: 10px;
    text-align: center;
}

.table-box td{
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-box tbody tr{
    transition: 0.1s;
}

.table-box tbody tr:hover {
    background-color: #F9FEF5;
    cursor: pointer;
}

.table-box tbody td a {
    width: 100%;
}

/* 버튼 */
.btn-group{
    display: flex;
    margin-bottom: 20px;
}

.btn-group button,
.btn-group form button{
    padding : 5px 10px;
    border: 1px solid transparent;
    border-radius : 5px;
    transition : 0.1s all;
    cursor: pointer;
}

.btn-group .btn-update,
.btn-group .btn-go-back{
    background-color: #AFFF4F;
    color: #000;
}

.btn-group .btn-update:hover,
.btn-group .btn-go-back:hover{
    background-color: #3A3D50;
    border: 1px solid #3A3D50;
    color: #AFFF4F;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination span,
.pagination a{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination > span > a{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination span:hover{
    background-color: #3A3D50;
    color: #fff;
}

.pagination span:hover a{
    color: #fff;
}

.pagination a.active {
    background-color: #3A3D50;
    color: #AFFF4F;
}
