<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/parking/parking.css">
    <title>주차장 생성 하기</title>
</head>
<body>
<h1>주차장 생성</h1>

<form id="parkingForm" th:action="@{/api/admin/parkings/add}" method="post">
    <input type="hidden" id="parkingId" name="parkingId" th:value="${adminParkingDto.parkingId}">
    <label for="parkingName">주차장 이름 : </label>
    <input type="text" id="parkingName" name="parkingName"
           placeholder="주차장의 이름을 입력해주세요" required><br><br>

    <label for="parkingAddress">주차장의 주소 : </label>
    <input type="text" id="parkingAddress" name="parkingAddress"
           placeholder="주차장의 주소를 입력해주세요" required><br><br>

    <label for="parkingLatitude">주차장 위도 : </label>
    <input type="text" id="parkingLatitude" name="parkingLatitude"
           placeholder="위도의 값을 정확히 입력해주세요" required><br><br>

    <label for="parkingLongtitude">주차장 경도 : </label>
    <input type="text" id="parkingLongtitude" name="parkingLongtitude"
           placeholder="경도의 값을 정확히 입력해주세요" required><br><br>

    <label for="parkingProvince">주차장 지역 : </label>
    <select name="parkingProvince" id="parkingProvince" required>
        <option th:each="province : ${provinceList}"
                th:value="${province}"
                th:text="${province}"
                th:selected="${adminParkingDto.parkingProvince == province}">
        </option>
    </select><br><br>
    <label for="parkingDistrict">주차장 도시 : </label>
    <input type="text" id="parkingDistrict" name="parkingDistrict"
           placeholder="도시의 이름을 입력해주세요" required>
    <button type="submit">주차장 등록하기</button>
</form>
</body>
</html>