<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/parking/parking_list.css">
    <title>주차장 목록</title>
</head>
<body>
<h1>주차장 목록</h1>

<!-- 목록 테이블 -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>주소</th>
        <th>위도</th>
        <th>경도</th>
        <th>타입</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- 서버에서 전달한 parkingList를 Thymeleaf로 반복문을 돌려서 출력 -->
    <tr th:each="parking : ${parkingList}">
        <td th:text="${parking.parkingId}"></td>
        <td th:text="${parking.parkingName}"></td>
        <td th:text="${parking.parkingAddress}"></td>
        <td th:text="${parking.parkingLatitude}"></td>
        <td th:text="${parking.parkingLongitude}"></td>
        <td th:text="${parking.parkingType}">타입</td>
        <td>
            <!--            상세 조회 버튼-->
            <form id="detail" th:action="@{/parking/{parkingId}/findByParking(parkingId=${parking.parkingId})}"
                  method="post">
                <button type="submit">상세조회</button>
            </form>
        </td>
        <td>
            <!--            수정 버튼-->
            <form id="update" th:action="@{/parking/{parkingId}/updateParking(parkingId=${parking.parkingId})}"
                  method="post">
                <button type="submit">수정</button>
            </form>
        </td>
        <td>
            <!--            삭제 버튼-->
            <form id="delte" th:action="@{/parking/{parkingId}/deleteParking(parkingId=${parking.parkingId})}" method="post">
                <input type="hidden" name="_method" value="deleteParking">
                <button type="submit" id="delete_btn">삭제</button>
            </form>

        </td>
    </tr>
    </tbody>
    <!--    <script th:src="@{/js/messages.js}"></script>-->
</table>
</body>
</html>