<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{layout/layout}">
<head>
  <title>대시보드</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">
  </th:block>
</head>
<body>
<div class="content" layout:fragment="content">

  <div class="header">
    관리자 대시보드
  </div>

  <div class="header-sm">
    관리자 대시보드 > 🔥 단기 예약 - 가장 인기 있는 차량 TOP 5
  </div>

<table>
  <tr>
    <th>차량명</th>
    <th>예약 횟수</th>
  </tr>
  <tr th:each="car : ${topShortPopularCars}">
    <td th:text="${car.label}"></td>
    <td th:text="${car.count}"></td>
  </tr>
</table>

<div class="back-to-dashboard">
  <a th:href="@{/api/admin/dashboard}" class="dashboard-btn">
    ⬅️ 대시보드로 돌아가기
  </a>
</div>

</div>
</body>
</html>
