<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>차량 관리</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/content.css}">
</th:block>

<body>
    <div class="content" layout:fragment="content">

        <div class="header">
            차량 관리
        </div>

        <div class="info">
            <div class="header-sm">보유 차량 정보</div>
            <div class="info-box-big">
                <div class="info-box box1">
                    <div class="info-box-title">전체 보유 차량</div>
                    <div class="info-box-content">312대</div>
                </div>
                <div class="info-box box2">
                    <div class="info-box-title">현재 대여중인 차량</div>
                    <div class="info-box-content">123대</div>
                </div>
                <div class="info-box box3">
                    <div class="info-box-title">제조사 별 차량 대수</div>
                    <div class="info-box-content">graphBox</div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="header-sm">차량 상세 검색</div>
            <div class="filter-box">
                <label for="filter-local-1">도/시</label>
                <select id="filter-local-1" name="selectLocal1">
                    <option value="local1">서울특별시</option>
                    <option value="local2">경기도</option>
                    <option value="local3">강원도</option>
                    <option value="local4">충청도</option>
                    <option value="local5">전라도</option>
                    <option value="local6">경상도</option>
                </select>
                <label for="filter-local-2">지역</label>
                <select id="filter-local-2" name="selectLocal2">
                    <option value="local1">지역1</option>
                    <option value="local2">지역2</option>
                    <option value="local3">지역3</option>
                    <option value="local4">지역4</option>
                    <option value="local5">지역5</option>
                    <option value="local6">지역6</option>
                </select>
            </div>

            <table class="table-box">
                <thead>
                    <tr>
                        <th>차량번호</th>
                        <th>제조사</th>
                        <th>모델명</th>
                        <th>등급</th>
                        <th>카테고리</th>
                        <th>대여 상태</th>
                        <th>현재 위치한 주차장</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-href="https://www.naver.com">
                        <td>12가 3456</td>
                        <td>현대</td>
                        <td>아반떼</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 가능</td>
                        <td>1층 A구역</td>
                    </tr>
                    <tr data-href="https://www.naver.com">
                        <td>12가 3456</td>
                        <td>현대</td>
                        <td>아반떼</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 가능</td>
                        <td>1층 A구역</td>
                    </tr>
                    <tr data-href="https://www.naver.com">
                        <td>34나 5678</td>
                        <td>기아</td>
                        <td>K5</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 중</td>
                        <td>2층 B구역</td>
                    </tr>
                    <tr>
                        <td>12가 3456</td>
                        <td>현대</td>
                        <td>아반떼</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 가능</td>
                        <td>1층 A구역</td>
                    </tr>
                    <tr>
                        <td>12가 3456</td>
                        <td>현대</td>
                        <td>아반떼</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 가능</td>
                        <td>1층 A구역</td>
                    </tr>
                    <tr>
                        <td>34나 5678</td>
                        <td>기아</td>
                        <td>K5</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 중</td>
                        <td>2층 B구역</td>
                    </tr>
                    <tr>
                        <td>12가 3456</td>
                        <td>현대</td>
                        <td>아반떼</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 가능</td>
                        <td>1층 A구역</td>
                    </tr>
                    <tr>
                        <td>12가 3456</td>
                        <td>현대</td>
                        <td>아반떼</td>
                        <td>중형</td>
                        <td>세단</td>
                        <td>대여 가능</td>
                        <td>1층 A구역</td>
                    </tr>
                </tbody>
            </table>

            <!-- 페이지네이션 -->
            <div class="pagination">
                <span class="material-symbols-outlined">chevron_left</span>
                <span class="page-number">1</span>
                <span class="page-number">2</span>
                <span class="page-number">3</span>
                <span class="page-number">4</span>
                <span class="page-number">5</span>
                <span class="material-symbols-outlined">chevron_right</span>
            </div>

        </div>
    </div>
</body>

</html>