<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차량 관리 수정페이지</title>
</head>
<body th:data-car-id="${modify.carId}">
<h1>차량 관리</h1>
<h2>차량 관리>차량 상세조회>차량 관리 수정</h2>
<form id="model_modify">
    <input type="hidden" name="_method" value="PUT">
    <table>
        <tr th:text="|${modify.carId}번 차량 수정|"></tr>
        <tr>
            <th><label for="modelBrand">제조사</label></th>
            <th><label for="modelName">모델명</label></th>
            <th><label for="carYear">연식</label></th>
            <th><label for="carFuel">연료</label></th>
            <th><label for="carGrade">등급</label></th>
        </tr>
        <tr>
            <td>
                <select id="modelBrand" name="model.modelBrand">
                    <option th:each="brand: ${mBrandList}" th:value="${brand}" th:text="${brand}"
                            th:selected="${modify.model.modelBrand == brand}">
                    </option>
                </select>
            </td>
            <td>
                <select id="modelName" name="model.modelName">
                    <option th:each="mName: ${mNameList}" th:value="${mName}" th:text="${mName}"
                            th:selected="${modify.model.modelName == mName}">
                    </option>
                </select>
            </td>
            <td>
                <select id="carYear" name="carYear">
                    <option th:each="year: ${yearList}" th:value="${year}" th:text="${year}"
                            th:selected="${modify.carYear == year}">
                    </option>
                </select>
            </td>
            <td>
                <select id="carFuel" name="carFuel">
                    <option th:each="fuel : ${fuelList}" th:value="${fuel}" th:text="${fuel}"
                            th:selected="${modify.carFuel == fuel}">
                    </option>
                </select>
            </td>
            <td>
                <select id="carGrade" name="carGrade">
                    <option th:each="grade : ${gradeList}" th:value="${grade}" th:text="${grade}"
                            th:selected="${modify.carGrade == grade}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <th><label for="parkingProvince">도/시</label></th>
            <th><label for="parkingDistrict">행정구역</label></th>
            <th><label for="parkingName">주차장 이름</label></th>
        </tr>
        <tr>
            <td>
                <select id="parkingProvince" name="parking.parkingProvince">
                    <option th:each="province : ${provinceList}" th:value="${province}" th:text="${province}"
                            th:selected="${modify.parking.parkingProvince == province}">
                    </option>
                </select>
            </td>
            <td>
                <select id="parkingDistrict" name="parking.parkingDistrict">
                    <option th:each="district : ${districtList}" th:value="${district}" th:text="${district}"
                            th:selected="${modify.parking.parkingDistrict == district}">
                    </option>
                </select>
            </td>
            <td>
                <input type="text" id="parkingName" name="parking.parkingName" th:value="${modify.parking.parkingName}"/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <button type="submit">수정 완료</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a th:href="@{/api/admin/vehicles/{carId}(carId=${modify.carId})}">
                    <button type="button">취소</button>
                </a>
            </td>
        </tr>
    </table>
</form>
<script src="/js/car/carModify.js"></script>

</body>
</html>