<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/model/model.css">
    <title>차량 상세보기</title>
</head>
<body>
<h1>차량 상세 보기</h1>
<table>
    <thead>
    <tr>
        <td th:text="${parking.parkingProvince}"></td>  // 도/시
        <td  th:text="${parking.parkingDistrict}"></td> // 지역
    </tr>
    <tr>
        <th>차량번호</th>
        <th>제조사</th>
        <th>모델명</th>
        <th>등급</th>
        <th>카테고리</th>
        <th>대여상태</th>
        <th>현위치 주차장</th>
    </tr>
    </thead>
    <tr th:each="model: ${modelDetail}">
        <td th:text="${model.modelId}"
        <td th:text="${model.modelBrand}"></td>
        <td th:text="${model.modelName}"></td>

        <td th:text="${model.modelCategory}"></td>
        <td th:text="${model.modelAmountHour}"></td>
        <td th:text="${model.modelAmountDay}"></td>
        <td><a th:href="@{/api/models/{modelId}/modify(modelId=${model.modelId})}">수정하기</a></td>
        <td><a href="#" th:data-item-id="${model.modelId}" onclick="confirmDelete(this); return false;">삭제하기</a></td>
</table>
</body>
</html>