<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/model/model.css">
    <title>차량 정보</title>
</head>
<body>
<h1>차량 정보</h1>
<table>
    <thead>
    <tr>
        <td>차량 브랜드</td>
        <td>차량 명</td>
        <td>차 종</td>
        <td>차량 정원</td>
        <td>차량 변속</td>
        <td>렌트 요금(1시간)</td>
        <td>렌트 요금(1일)</td>
        <td>수정</td>
        <td>삭제</td>
    </tr>
    </thead>
    <tr th:each="model: ${models}">
        <td th:text="${model.modelBrand}"></td>
        <td th:text="${model.modelName}"></td>
        <td th:text="${model.modelCategory}"></td>
        <td th:text="${model.modelSeateNum}"></td>
        <td th:text="${model.modelTransmission}"></td>
        <td th:text="${model.modelAmountHour}"></td>
        <td th:text="${model.modelAmountDay}"></td>
        <td><a id="model_modify" a th:href="@{/api/models/{id}/modify(id=${model.modelId})}">수정하기</a></td>
        <td><a id="model_delete" href="#" th:data-model-modelId="${model.modelId}" onclick="confirmDelete(this); return false;">삭제하기</a></td>

    </tr>
</table>
</body>
</html>