<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/model/model.css">
    <title>차량 정보 수정</title>
</head>
<body>
<h1>차량 정보 수정</h1>
<form id="model_modify" th:action="@{/api/admin/models/{modelId}/modify(modelId=${modify.modelId})}"
      method="post">
    <input type="hidden" name="_method" value="PUT">
    <table>
        <thead>
        <tr>
            <th>차량 번호</th>
            <th>차량 브랜드</th>
            <th>차량 이름</th>
            <th>차 종</th>
            <th>차량 정원</th>
            <th>차량 변속기</th>
            <th>렌트 요금(1시간)</th>
            <th>렌트 요금(1일)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${modify.modelId}"></td>
            <td><input type="text" id="modelBrand" name="modelBrand" th:value="${modify.modelBrand}" required></td>
            <td><input type="text" id="modelName" name="modelName" th:value="${modify.modelName}" required></td>
            <td><input type="text" id="modelCategory" name="modelCategory" th:value="${modify.modelCategory}" required>
            </td>
            <td><input type="number" id="modelSeateNum" name="modelSeateNum" th:value="${modify.modelSeateNum}"
                       required></td>
            <td><input type="text" id="modelTransmission" name="modelTransmission"
                       th:value="${modify.modelTransmission}" required></td>
            <td><input type="number" id="modelAmountHour" name="modelAmountHour" th:value="${modify.modelAmountHour}"
                       required></td>
            <td><input type="number" id="modelAmountDay" name="modelAmountDay" th:value="${modify.modelAmountDay}"
                       required></td>
        </tr>
        </tbody>
        <tr>
            <td colspan="8">
                <button type="submit">수정 완료</button>
                <!--            삭제 버튼-->
                <form id="delete" th:action=
                        "@{/api/admin/models/{modelId}(modelId=${modify.modelId})}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" id="delete_btn">삭제</button>
                </form>
            </td>
        </tr>
        <td colspan="10">
            <a th:href="@{/api/admin/models}">
                <button type="button">취소</button>
            </a>
        </td>
    </table>
</form>
</body>
</html>