<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정페이지</title>
    <style>
        input{
            width:300px;
        }
    </style>
</head>
<body>

<h1>예약가능차량</h1>
<table>
    <tr>
        <td>차량ID</td>
        <td>제조사</td>
        <td>차량 카테고리</td>
        <td>차량 이름</td>
        <td>연식</td>
        <td>연료 타입</td>
        <td>좌석 수</td>
        <td>변속기 종류</td>
    </tr>

    <!--    반복 구간 시작    -->
    <tr th:each="car : ${cars}">
        <td><a th:href="@{/api/vehicles/{carId}(carId=${car.carId})}" th:text="${car.carId}"></a></td>
        <td th:text="${car.carManufacture}"></td>
        <td th:text="${car.carCategory}"></td>
        <td th:text="${car.carName}"></td>
        <td th:text="${car.carYear}"></td>
        <td th:text="${car. carFuel}"></td>
        <td th:text="${car.carSeateNum}"></td>
        <td th:text="${car.carTransmission}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>

    <form th:action="@{/api/reservation/{reservationId}/modify(reservationId=${reservation.reservationId})}" method="post">
        <input type="hidden" name="reservationId" th:value="${reservation.reservationId}" />
    <div>
            <label for="car_id">예약할 차량 번호: </label>
            <input type="text" id="car_id" name="carId" required>
        </div>
        <div>
            <label for="latitude_id">위도: </label>
            <input type="text" id="latitude_id"  name="latitude"  required>

        </div>
        <div>
            <label for="longitude_id">경도: </label>
            <input type="text" id="longitude_id"  name="longitude"  required>
        </div>
        <div>
            <label for="rentalLocation_id">대여위치: </label>
            <input type="text" id="rentalLocation_id"  name="rentalLocation"  required>
        </div>
        <div>
            <label for="rentalTime_id">대여시간: </label>
            <input type="text" id="rentalTime_id"  name="rentalTime" placeholder="YYYY-MM-DD hh:mm:ss 형식으로 입력"   required>
        </div>
        <div>
            <label for="returnLocation_id">반납위치: </label>
            <input type="text" id="returnLocation_id"  name="returnLocation" required>
        </div>
        <div>
            <label for="returnTime_id">반납시간: </label>
            <input type="text" id="returnTime_id"  name="returnTime" placeholder="YYYY-MM-DD hh:mm:ss 형식으로 입력"  required>
        </div>
        <button type="summit">예약 등록</button>
    </form>

</table>
</body>
</html>