<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>정비 차량 상세 정보</title>
</head>
<body>

<h1>🚗 정비 차량 상세 정보</h1>

<table border="1">
  <tr>
    <th>차량 ID</th>
    <td th:text="${car.carId}"></td>
  </tr>
  <tr>
    <th>모델명</th>
    <td th:text="${car.modelName}"></td>
  </tr>
  <tr>
    <th>차량 등급</th>
    <td th:text="${car.carGrade}"></td>
  </tr>
  <tr>
    <th>연식</th>
    <td th:text="${car.carYear}"></td>
  </tr>
  <tr>
    <th>연료</th>
    <td th:text="${car.carFuel}"></td>
  </tr>
</table>

<a href="/admin/reservations">🔙 돌아가기</a>

</body>
</html>
