<div th:fragment="sectionContent" xmlns:th="http://www.w3.org/1999/xhtml">

  <div class="header-sm">
    ⏳ 단기 예약 평균 렌트 시간 (Top 5)
  </div>

  <!-- 차량별 평균 렌트 시간 차트 -->
  <h3>🚗 차량별 평균 렌트 시간</h3>
  <div id="chart10" style="width: 100%; height: 400px;"></div>

  <!-- 지역별 평균 렌트 시간 차트 -->
  <h3>📍 지역별 평균 렌트 시간</h3>
  <div id="chart11" style="width: 100%; height: 400px;"></div>

  <!-- 사용자별 평균 렌트 시간 차트 -->
  <h3>👤 사용자별 평균 렌트 시간</h3>
  <div id="chart12" style="width: 100%; height: 400px;"></div>

  <script th:inline="javascript">
    var shortCarLabels = [[${topShortCarRentalDuration.![label]}]];  <!-- 차량명 데이터 -->
    var shortCarCounts = [[${topShortCarRentalDuration.![count]}]];   <!-- 평균 렌트 시간 데이터 -->

    var shortRegionLabels = [[${topShortRegionRentalDuration.![label]}]];  <!-- 지역명 데이터 -->
    var shortRegionCounts = [[${topShortRegionRentalDuration.![count]}]];   <!-- 평균 렌트 시간 데이터 -->

    var shortUserLabels = [[${topShortUserRentalDuration.![label]}]];  <!-- 사용자명 데이터 -->
    var shortUserCounts = [[${topShortUserRentalDuration.![count]}]];   <!-- 평균 렌트 시간 데이터 -->
  </script>

  <!-- ✅ 차트 스크립트 로드 -->
  <script th:src="@{/js/dashboard/average-chart.js}"></script>

</div>
