<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
  layout:decorate="~{layout/layout}">

<head>
  <title>공지사항 상세 조회</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">

  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/notice/notice-detail.css}">
  </th:block>
  <th:block layout:fragment="js">
    <script th:src="@{/js/notice/notice.js}" defer></script>
  </th:block>
</head>

<body>
  <div class="content" layout:fragment="content">

    <div class="header">
      공지사항 관리
    </div>

    <div class="info">
      <div class="header-sm">
        공지사항 관리 > 공지사항 상세 조회
        <div class="btn-group">
          <!-- 수정 -->
          <a th:href="@{/admin/posts/edit/{id}(id=${post.id})}">
            <button type="button" class="btn-update">
              수정
            </button>
          </a>
          <!-- 삭제 -->
          <a th:href="@{/admin/posts/delete/{id}(id=${post.id})}" onclick="return confirm('해당 공지사항을 삭제하시겠습니까?')">
            <button type="button" class="btn-delete-all">
              삭제
            </button>
          </a>
        </div>
      </div>

      <div class="info-box-big">
        <div class="info-box box1">
          <div class="info-box-title">공지사항 상세 정보</div>
          <div class="info-box-content">
            <table class="info-box-content-table">
              <tbody>
                <tr>
                  <th>공지 번호</th>
                  <td th:text="${post.id}"></td>
                </tr>
                <tr>
                  <th>제목</th>
                  <td th:text="${post.title}"></td>
                </tr>
                <tr>
                  <th>내용</th>
                  <td>
                    <div class="notice-content" id="content" th:utext="${post.content}"></div>
                  </td>
                </tr>
                <tr>
                  <th>작성일</th>
                  <td th:text="${post.createdAt}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn-go-back" th:onclick="'location.href=\'' + @{/admin/posts/list} + '\''">
          목록으로
        </button>
      </div>
    </div>

  </div>
</body>

</html>