<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
  layout:decorate="~{layout/layout}">

<head>
  <title>공지사항 상세 조회</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/notice/notice-detail.css}">
  </th:block>
  <th:block layout:fragment="js">
    <script th:src="@{/js/notice/notice.js}" defer></script>
  </th:block>
</head>

<body>
  <div class="content" layout:fragment="content">

    <div class="header">
      공지사항 관리
    </div>

    <div class="info">
      <div class="header-sm">
        공지사항 관리 > 공지사항 상세 조회
        <div class="btn-group">
          <!-- 수정 -->
          <button type="button" class="btn-update" onclick="">
            수정
          </button>
          <!-- 삭제 -->
          <form action="" method="post">
            <button type="submit" class="btn-delete-all" onclick="return confirm('정말 해당 공지사항을 삭제하시겠습니까?');">
              삭제
            </button>
          </form>
        </div>
      </div>

      <div class="info-box-big">
        <div class="info-box box1">
          <div class="info-box-title">공지사항 상세 정보</div>
          <div class="info-box-content">
            <table class="info-box-content-table">
              <tbody>
                <tr>
                  <th>공지 번호</th>
                  <td text="">00</td>
                </tr>
                <tr>
                  <th>작성자</th>
                  <td text="">00</td>
                </tr>
                <tr>
                  <th>제목</th>
                  <td text="">00</td>
                </tr>
                <tr>
                  <th>내용</th>
                  <td text="">00</td>
                </tr>
                <tr>
                  <th>작성일</th>
                  <td text="">00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn-go-back" onclick="">
          목록으로
        </button>
      </div>
    </div>

  </div>
</body>

</html>