<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
  layout:decorate="~{layout/layout}">

<head>
  <title>공지사항 목록</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/notice/notice-list.css}">
  </th:block>
  <script th:src="@{/js/notice/notice.js}" defer></script>

</head>

<body>
  <div class="content" layout:fragment="content">

    <div class="header">
      공지사항 관리
    </div>

    <div class="list">

      <div class="list-flex-box">
        <div class="info-header">공지사항 목록</div>
      </div>

      <div class="filter-box-big">
        <div class="filter-box">
          <label for="filter-content">키워드</label>
          <input type="text" id="filter-content" name="filter-content" placeholder="검색할 키워드를 입력하세요"
                 th:value="${title}"> <!-- 검색어 유지 -->
          <div class="btn-group">
            <button type="button" class="btn-search" onclick="searchCon()">검색</button>
            <button type="button" class="btn-reset" onclick="resetCon()">검색 취소</button>
          </div>
        </div>
        <div class="filter-box">
          <div class="btn-group">
            <button type="button" class="btn-update" th:onclick="'location.href=\'' + @{/admin/posts/write} + '\''">
              새로운 공지사항 작성
            </button>
          </div>
        </div>
      </div>

      <table class="table-box">
        <thead>
          <tr>
            <th style="width: 70px; text-align: center;">공지 번호</th>
            <th style="width: 300px;">제목</th>
            <th style="width: 100px;">작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="post : ${pageDto.items}" th:attr="data-href=@{/admin/posts/view/{id}(id=${post.id})}"
            onclick="location.href=this.getAttribute('data-href')">
            <td th:text="${post.id}" style="max-width: 70px; text-align: center;"></td>
            <td th:text="${post.title}" style="max-width: 300px;"></td>
            <td th:text="${post.createdAt}" style="max-width: 100px;"></td>
          </tr>
        </tbody>
      </table>

      <!-- 페이지네이션 -->
      <div class="pagination">
        <a th:href="@{/admin/posts/list(page=${pageDto.start - 1}, size=${pageDto.size}, title=${title})}"
           th:if="${pageDto.prev}">
          <span class="material-symbols-outlined">chevron_left</span>
        </a>
        <span class="page-number" th:each="pageNum : ${#numbers.sequence(pageDto.start, pageDto.end)}">
          <a th:href="@{/admin/posts/list(page=${pageNum}, size=${pageDto.size}, title=${title})}"
             th:text="${pageNum}"
             th:classappend="${pageNum == pageDto.page} ? 'active' : ''"></a>
        </span>
        <a th:href="@{/admin/posts/list(page=${pageDto.end + 1}, size=${pageDto.size}, title=${title})}"
           th:if="${pageDto.next}">
          <span class="material-symbols-outlined">chevron_right</span>
        </a>
      </div>

    </div>
  </div>
</body>

</html>