<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
  layout:decorate="~{layout/layout}">

<head>
  <title>공지사항 목록</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/notice/notice-list.css}">
  </th:block>
  <th:block layout:fragment="js">
    <script th:src="@{/js/notice/notice.js}" defer></script>
  </th:block>
</head>

<body>
  <div class="content" layout:fragment="content">

    <div class="header">
      공지사항 관리
    </div>

    <div class="info">
      <div class="info-header">공지사항 정보</div>
      <div class="info-box-big">
        <div class="info-box-big-header">문의사항 게시판 통계</div>
        <div class="info-box-sm">
          <div class="info-box box1">
            <div class="info-box-title">전체 문의 게시글 수</div>
            <div class="info-box-content"><span></span> 개</div>
          </div>
          <div class="info-box box2">
            <div class="info-box-title">답변완료 게시글</div>
            <div class="info-box-content"><span></span> 개</div>
          </div>
          <div class="info-box box3">
            <div class="info-box-title">미답변 게시글</div>
            <div class="info-box-content"><span></span> 개</div>
          </div>
        </div>
      </div>
    </div>

    <div class="list">

      <div class="list-flex-box">
        <div class="info-header">공지사항 목록</div>
        <div class="btn-group">
          <button type="button" class="btn-update" th:onclick="'location.href=\'' + @{/posts/write} + '\''">
            새로운 공지사항 작성
          </button>
        </div>
      </div>

      <table class="table-box">
        <thead>
          <tr>
            <th style="width: 70px; text-align: center;">공지 번호</th>
            <th style="width: 100px;">작성자</th>
            <th style="width: 300px;">제목</th>
            <th style="width: 100px;">작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="post : ${pageDto.items}" th:attr="data-href=@{/posts/view/{id}(id=${post.id})}"
            onclick="location.href=this.getAttribute('data-href')">
            <td th:text="${post.id}" style="max-width: 70px; text-align: center;"></td>
            <td text="" style="max-width: 100px;">00</td>
            <td th:text="${post.title}" style="max-width: 300px;"></td>
            <td th:text="${post.createdAt}" style="max-width: 100px;"></td>
          </tr>
        </tbody>
      </table>

      <!-- 페이지네이션 -->
      <div class="pagination">
        <a th:href="@{/posts/list(page=${pageDto.start - 1}, size=${pageDto.size})}" th:if="${pageDto.prev}">
          <span class="material-symbols-outlined">
            chevron_left
          </span>
        </a>
        <span class="page-number" th:each="pageNum : ${#numbers.sequence(pageDto.start, pageDto.end)}">
          <a th:href="@{/posts/list(page=${pageNum}, size=${pageDto.size})}" th:text="${pageNum}"
            th:classappend="${pageNum == pageDto.page} ? 'active' : ''"></a>
        </span>
        <a th:href="@{/posts/list(page=${pageDto.end + 1}, size=${pageDto.size})}" th:if="${pageDto.next}">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </a>
      </div>

    </div>
  </div>
</body>

</html>