/* 메인 콘텐츠 */
.content {
    width: calc(100% - 373px);
    min-height: 100vh;
    padding: 65px 50px 30px 65px;
    margin-left: 373px;
    overflow: hidden;
}

.header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 55px;
}
.header-sm {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/* 테이블 스타일 */


th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3A3D50;
    color: white;
    font-weight: bold;
}

td input {
    width: 90%;
    padding: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 14px;
}

/* 이미지 미리보기 */
#preview {
    display: block;
    width: 400px;
    height: 200px;
    margin: 15px auto;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #D9D9D9;
}

/* 버튼 */
.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group form {
    display: flex;
    align-items: center;
}

.btn-group button,
.btn-group form button {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.1s all;
    cursor: pointer;
}

.btn-group .btn-update,
.btn-group .btn-go-back {
    background-color: #AFFF4F;
    color: #000;
}

.btn-group .btn-update:hover,
.btn-group .btn-go-back:hover{
    background-color: #3A3D50;
    border: 1px solid #3A3D50;
    color: #AFFF4F;
}