/* 구글 아이콘 사용 */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

/* 메인 콘텐츠 */
.content {
    width: calc(100% - 373px);
    min-height: 100vh;
    padding: 65px 50px 30px 65px;
    margin-left: 373px;
}

.header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
}

/* 정보 통계 박스 */
.info {
    margin-bottom: 50px;
}

.info-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-group{
    display: flex;
    gap: 20px;
}

.info-box-big-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content : space-between;
}

.info-box-big {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 40px 0px;
    box-sizing: border-box;
}

.info-box-big-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.info-box-sm {
    display: flex;
    margin-top: 5%;
    margin-bottom : 20px;
}

.info-box {
    margin-left: 5%;
}

.info-box.box1 {
    margin-left: 0;
    width: 33%;
    border-right: 1px solid #D9D9D9;
}

.info-box.box2 {
    width: 33%;
    border-right: 1px solid #D9D9D9;
}

.info-box.box3 {
    width: 33%;
}

.info-box-title {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}

.info-box-content {
    font-size: 24px;
    font-weight: 600;
}

.info-box-big.only-text-box-big {
    width: 100%;
}

.info-box-big.semi-circle-box-big {
    width: 100%;
}

/* 정보 통계 - 차트 박스 */
.chart-box {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.semi-circle-box {
    justify-content: flex-end;
}

.chart-content.chart1 {
    width: 100%;
    height: 170px;
}

.chart-content.chart2 {
    width: 100%;
    height: 380px;
}

/* 정보 리스트 필터 박스 */
.filter-box {
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}

.filter-box-big {
    display: flex;
    justify-content: space-between;
}

.filter-box>label {
    margin-right: 10px;
}

.filter-box>input {
    width: 300px;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

/* 버튼 */
.btn-group button {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.1s all;
    cursor: pointer;
}

.btn-group .btn-search,
.btn-group .btn-update,
.btn-group .btn-go-back {
    background-color: #AFFF4F;
    color: #000;
}

.btn-group .btn-search{
    margin-right: 10px;
}

.btn-group .btn-reset{
    background-color: #F3F3F3;
    border: 1px solid #D9D9D9;
    color: #F21717;
}

.btn-group .btn-reset:hover,
.btn-group .btn-search:hover,
.btn-group .btn-update:hover,
.btn-group .btn-go-back:hover {
    background-color: #3A3D50;
    border: 1px solid #3A3D50;
    color: #AFFF4F;
}

/* 정보 리스트 박스 - 테이블 */
.table-box {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
}

.table-box thead {
    background-color: #3A3D50;
    border-radius: 10px;
    color: #fff;
}

.table-box th,
.table-box td {
    padding: 10px 20px;
    text-align: left;
}

.table-box td {
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-box tbody tr {
    transition: 0.1s;
}

.table-box tbody tr:hover {
    background-color: #F9FEF5;
    cursor: pointer;
}

.table-box tbody td a {
    width: 100%;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination span,
.pagination a {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination>span>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination span:hover {
    background-color: #3A3D50;
    color: #fff;
}

.pagination span:hover a {
    color: #fff;
}

.pagination a.active {
    background-color: #3A3D50;
    color: #AFFF4F;
}