<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
  layout:decorate="~{layout/layout}">

<head>
  <title>사용자 관리 목록</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/users/users-list.css}">
  </th:block>

  <!--    아파치 E차트-->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

  <th:block layout:fragment="js">
    <script th:inline="javascript" defer>

    </script>

    <script th:inline="javascript" th:src="@{/js/users/chart.js}" defer></script>
  </th:block>

</head>

<body>
  <div class="content" layout:fragment="content">

    <div class="header">
      사용자 관리
    </div>

    <div class="info">
      <div class="info-header">사용자 통계</div>

      <div class="info-group">
        <div class="info-box-big-group">
          <div class="info-box-big only-text-box-big">
            <div class="info-box-big-header">전체 사용자 통계</div>
            <div class="info-box-sm">
              <div class="info-box box1">
                <div class="info-box-title">총 가입자 수</div>
                <div class="info-box-content"><span text="">00</span> 명</div>
              </div>
              <div class="info-box box2">
                <div class="info-box-title">활성 사용자 수</div>
                <div class="info-box-content"><span text="">00</span> 명</div>
              </div>
              <div class="info-box box3">
                <div class="info-box-title">탈퇴 사용자 수</div>
                <div class="info-box-content"><span text="">00</span> 명</div>
              </div>
            </div>
          </div>
          <div class="info-box-big semi-circle-box-big">
            <div class="info-box-big-header" style="margin-bottom : 0">성별 통계</div>
            <div class="chart-box semi-circle-box">
              <div class="chart-content chart1" id="chart-container1"></div>
            </div>
          </div>
        </div>

        <div class="info-box-big-group">
          <div class="info-box-big">
            <div class="info-box-big-header">연령 통계</div>
            <div class="chart-box">
              <div class="chart-content chart2" id="chart-container2"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="list">
      <div class="info-header">가입자 목록</div>

      <div class="filter-box-big">
        <div class="filter-box">
          <label for="filter-user">이름</label>
          <input type="text" id="filter-user" name="filter-user" placeholder="이름을 입력하세요">

          <div class="btn-group">
            <button type="button" class="btn-update" onclick="">
              검색
            </button>
          </div>
        </div>
      </div>

      <table class="table-box">
        <thead>
          <tr>
            <th style="width: 70px; text-align: center;">회원번호</th>
            <th style="width: 100px;">회원 아이디</th>
            <th style="width: 100px;">이름</th>
            <th style="width: 50px;">성별</th>
            <th style="width: 100px;">생년월일</th>
            <th style="width: 150px;">주소</th>
            <th style="width: 120px;">이메일</th>
            <th style="width: 120px;">전화번호</th>
            <th style="width: 70px;">활성 상태</th>
          </tr>
        </thead>
        <tbody>
          <tr each="" attr="data-href=" onclick="location.href=this.getAttribute('data-href')">
            <td text="" style="max-width: 70px; text-align: center;">1</td>
            <td text="" style="max-width: 100px;">abc123</td>
            <td text="" style="max-width: 100px;">김하늘</td>
            <td text="" style="max-width: 50px;">여</td>
            <td text="" style="max-width: 100px;">1999-01-01</td>
            <td text="" style="max-width: 150px;">경기도 수원시 장안구 000 000 000 000 000 000 000</td>
            <td text="" style="max-width: 120px;">abc123@gmail.com</td>
            <td text="" style="max-width: 120px;">010-1111-2222</td>
            <td text="" style="max-width: 70px;">활성</td>
          </tr>
          <!--            더미 데이터 시작. 추후 삭제-->
          <tr each="" attr="data-href=" onclick="location.href=this.getAttribute('data-href')">
            <td text="" style="max-width: 70px; text-align: center;">1</td>
            <td text="" style="max-width: 100px;">abc123</td>
            <td text="" style="max-width: 100px;">김하늘</td>
            <td text="" style="max-width: 50px;">여</td>
            <td text="" style="max-width: 100px;">1999-01-01</td>
            <td text="" style="max-width: 150px;">경기도 수원시 장안구 000 000 000 000 000 000 000</td>
            <td text="" style="max-width: 120px;">abc123@gmail.com</td>
            <td text="" style="max-width: 120px;">010-1111-2222</td>
            <td text="" style="max-width: 70px;">비활성</td>
          </tr>
          <tr each="" attr="data-href=" onclick="location.href=this.getAttribute('data-href')">
            <td text="" style="max-width: 70px; text-align: center;">1</td>
            <td text="" style="max-width: 100px;">abc123</td>
            <td text="" style="max-width: 100px;">김하늘</td>
            <td text="" style="max-width: 50px;">여</td>
            <td text="" style="max-width: 100px;">1999-01-01</td>
            <td text="" style="max-width: 150px;">경기도 수원시 장안구 000 000 000 000 000 000 000</td>
            <td text="" style="max-width: 120px;">abc123@gmail.com</td>
            <td text="" style="max-width: 120px;">010-1111-2222</td>
            <td text="" style="max-width: 70px;">비활성</td>
          </tr>
          <!--            더미 데이터 끝-->
        </tbody>
      </table>

      <!-- 페이지네이션 -->
      <div class="pagination">
        <a href="" if="">
          <span class="material-symbols-outlined">
            chevron_left
          </span>
        </a>
        <span class="page-number" each="">
          <a href="" text="" classappend=""></a>
        </span>
        <a href="" if="">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </a>
      </div>

    </div>
  </div>

</body>

</html>