<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{layout/layout}">
<head>
  <title>대시보드</title>

  <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">

  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

</head>
<body>
<div class="content" layout:fragment="content">
  <!-- 관리자 대시보드 헤더 -->
  <div class="header">
    📊 관리자 DASHBOARD
  </div>

  <div class="stats-cards">
    <!-- 👥 전체 회원 수 -->
    <div class="stat-card">
      <p class="total-users">총 회원 <span th:text="${userStats.totalUsers}"></span> 명</p>
    </div>
  </div>

  <div class="charts-container">

    <h1>⏰ 예약 시간대 TOP 5</h1>
    <div class="chart-section">
      <!-- ⏰ 빠른 예약 시간대 TOP 5 -->
      <div class="chart-section1 section-line">
        <div th:insert="fragments/dashboard/hours/fast-reservation-hours :: sectionContent"></div>
      </div>
      <!-- ⏰ 단기 예약 시간대 TOP 5 -->
      <div class="chart-section1">
        <div th:insert="fragments/dashboard/hours/short-reservation-hours :: sectionContent"></div>
      </div>
    </div>

    <h1>📍 대여 지역 TOP 5</h1>
    <div class="chart-section">
      <!-- 📍 빠른 예약 - 대여 지역 TOP 5 -->
      <div class="chart-section1 section-line">
        <div th:insert="fragments/dashboard/rental-locations/fast-rental-locations :: sectionContent"></div>
      </div>
      <!-- 📍 단기 예약 - 대여 지역 TOP 5 -->
      <div class="chart-section1">
        <div th:insert="fragments/dashboard/rental-locations/short-rental-locations :: sectionContent"></div>
      </div>
    </div>

    <h1>🔄 반납 지역 TOP 5</h1>
    <div class="chart-section">
      <!-- 🔄 빠른 예약 - 반납 지역 TOP 5 -->
      <div class="chart-section2">
        <div th:insert="fragments/dashboard/return-locations/fast-return-locations :: sectionContent"></div>
      </div>
    </div>

    <h1>⏳ 평균 렌트 시간</h1>
    <div class="chart-section">
      <!--  ⏳ 빠른 예약 - 평균 렌트 시간 -->
      <div class="chart-section2 section-line">
        <div th:insert="fragments/dashboard/average/fast-reservation :: sectionContent"></div>
      </div>
      <!--  ⏳ 단기 예약 - 평균 렌트 시간 -->
      <div class="chart-section2">
        <div th:insert="fragments/dashboard/average/short-reservation :: sectionContent"></div>
      </div>
    </div>

    <h1>🔥 가장 인기 있는 차량</h1>
    <div class="chart-section">
      <!-- 🔥 빠른 예약 - 가장 인기 있는 차량 -->
      <div class="chart-section2 section-line">
        <div th:insert="fragments/dashboard/popular-cars/fast-popular-cars :: sectionContent"></div>
      </div>
      <!-- 🔥 빠른 예약 - 가장 인기 있는 차량 -->
      <div class="chart-section2">
        <div th:insert="fragments/dashboard/popular-cars/short-popular-cars :: sectionContent"></div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
