/* Noto Sans 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 구글 아이콘 사용 */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", serif;
}

.container {
    display: flex;
    background-color: #F8F9F7;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 사이드바 */
.sidebar {
    width: 373px;
    height: 100vh;
    background-color: #3A3D50;
    color: white;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.logo {
    margin: 50px 20px 0;
    background-color: #AFFF4F;
    height: 100px;
}

.navigation-box {
    margin-bottom: 300px;
}

.navigation li {
    width: 100%;
    transition: 0.1s;
}

.navigation li a {
    display: block;
    width: 100%;
    padding: 15px 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.navigation li:hover {
    background-color: #2A2C3E;
    cursor: pointer;
}

.logout>a {
    margin: 30px 40px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.1s;
}

.logout>a>span {
    margin-right: 5px;
}

.logout>a:hover {
    cursor: pointer;
    color: #AFFF4F;
}

/* 메인 콘텐츠 */
.content {
    width: calc(100% - 373px);
    padding: 65px 50px 30px 65px;
    margin-left: 373px;
}

.header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 55px;
}

/* 정보 통계 박스 */
.info {
    margin-bottom: 45px;
}

.header-sm {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-box-big {
    display: flex;
    width: 100%;
}

.info-box {
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 25px;
    margin-left: 15px;
}

.info-box.box1 {
    margin-left: 0;
    width: 20%;
}

.info-box.box2 {
    width: 20%;
}

.info-box.box3 {
    width: 60%;
}

.info-box-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.info-box-content {
    font-size: 24px;
    font-weight: 600;
}

/* 정보 리스트 필터 박스 */
.filter-box {
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}

.filter-box>label {
    margin-right: 10px;
}

.filter-box>select {
    margin-right: 50px;
    padding: 5px;
    width: 20%;
    cursor: pointer;
}

/* 정보 리스트 박스 - 테이블 */
.table-box {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
}

.table-box thead {
    background-color: #3A3D50;
    border-radius: 10px;
    color: #fff;
}

.table-box th,
.table-box td {
    padding: 10px;
    text-align: center;
    transition: 0.1s;
}

.table-box tbody tr:hover {
    background-color: #F9FEF5;
    cursor: pointer;
}

.table-box tbody td a{
    width: 100%;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination span {
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination span:hover {
    background-color: #3A3D50;
    color: #AFFF4F;
}