* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", serif;
}

body{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #3A3D50;
    color: white;
    font-weight: 600;
}

td {
    font-weight: 400;
    color: #333;
}

/* 버튼 스타일 */
button {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #AFFF4F;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: #3A3D50;
    color: #fff;
}

/* 링크 스타일 */
a {
    color: #3A3D50;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #F9FEF5;
    color: #3A3D50;
    border-radius: 5px;
}
