<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    <div class="container">

        <div class="sidebar">
            <div class="logo">logo</div>
            <div class="navigation">
                <ul>
                    <li><a href="#">차량 관리</a></li>
                    <li><a href="#">주차 관리</a></li>
                    <li><a href="#">사용자 관리</a></li>
                    <li><a href="#">공지사항 관리</a></li>
                    <li><a href="#">리뷰 관리</a></li>
                    <li><a href="#">문의사항 관리</a></li>
                </ul>
            </div>
            <div class="logout">logout</div>
        </div>

        <div class="content">
            <div class="header">
                차량 관리
            </div>

            <div class="info">
                <div class="header-sm">보유 차량 정보</div>

                <div class="info-box1">
                    <div class="info-box-title"></div>
                    <div class="info-box-content"></div>
                </div>
                <div class="info-box2">
                    <div class="info-box-title"></div>
                    <div class="info-box-content"></div>
                </div>
                <div class="info-box3">
                    <div class="info-box-title"></div>
                    <div class="info-box-content"></div>
                </div>
            </div>

            <div class="list">
                <div class="header-sm">차량 상세 검색</div>
                <div class="list">
                    
                    <table>
                        <tr>
                            <th>차량번호</th>
                            <th>차량명</th>
                            <th>차량종류</th>
                            <th>차량가격</th>
                            <th>차량상태</th>
                            <th>차량등록일</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>아반떼</td>
                            <td>세단</td>
                            <td>3000</td>
                            <td>대여가능</td>
                            <td>2021-07-01</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>소나타</td>
                            <td>세단</td>
                            <td>4000</td>
                            <td>대여가능</td>
                            <td>2021-07-01</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>그랜저</td>
                            <td>세단</td>
                            <td>5000</td>
                            <td>대여가능</td>
                            <td>2021-07-01</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    
</body>
</html>