<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:/www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">공통 레이아웃</title>
        <!-- 공통 스타일시스 -->
        <link rel="stylesheet" th:href="@{/css/global.css}">
        <!-- 페이지별 추가 스타일시트 -->
        <th:block layout:fragment="css"></th:block>
    </head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container">
    <div>
        <!-- content -->
        <th:block layout:fragment="content"></th:block>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>