<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
    layout:decorate="~{layout/layout}">

<head>
    <title>차량 관리 상세</title>

    <link rel="stylesheet" th:href="@{/css/car/car-detail.css}">

</head>

<body>
    <div class="content" layout:fragment="content">

        <div class="header">
            차량 관리
        </div>

        <div class="info">
            <div class="header-sm">
                차량 관리 > 차량 상세 조회
                <div class="btn-group">
                    <!-- 수정 -->
                    <button type="button" class="btn-update"
                        th:onclick="'location.href=\'' + @{/api/admin/vehicles/modify/{carId}(carId=${car.carId})} + '\''">
                        수정
                    </button>
                    <!-- 삭제 -->
                    <form th:action="@{/api/admin/vehicles/{carId}(carId=${car.carId})}" method="post">
                        <button type="submit" class="btn-delete-all" onclick="return confirm('정말 차량 정보를 삭제하시겠습니까?');">
                            삭제
                        </button>
                    </form>
                </div>
            </div>
            <div class="info-box-big">
                <div class="info-box box1">
                    <div class="info-box-title" th:text="|${car.carId}번 차량 상세 정보|"></div>
                    <div class="info-box-content">
                        <table class="info-box-content-table">
                            <tbody>
                                <tr>
                                    <th>등급</th>
                                    <td th:text="${car.carGrade}">00</td>
                                </tr>
                                <tr>
                                    <th>카테고리</th>
                                    <td th:text="${car.carCategory}">00</td>
                                </tr>
                                <tr>
                                    <th>대여상태</th>
                                    <td th:text="${car.carStatus}">00</td>
                                </tr>
                                <tr>
                                    <th>옵션</th>
                                    <td th:text="${car.carOptions}">00</td>
                                </tr>
                                <tr>
                                    <th>연료</th>
                                    <td th:text="${car.carFuel}">00</td>
                                </tr>
                                <tr>
                                    <th>연식</th>
                                    <td th:text="${car.carYear}">00</td>
                                </tr>
                                <tr>
                                    <th>위치</th>
                                    <td th:text="${car.parking.parkingName}">00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-box box2">
                    <div class="info-box-title" th:text="|${car.model.modelName}의 제원정보|"></div>
                    <div class="info-box-content">
                        <table class="info-box-content-table">
                            <tbody>
                                <tr>
                                    <th>제조사</th>
                                    <td th:text="${car.model.modelBrand}">00</td>
                                </tr>
                                <tr>
                                    <th>모델명</th>
                                    <td th:text="${car.model.modelName}">00</td>
                                </tr>
                                <tr>
                                    <th>차 종</th>
                                    <td th:text="${car.model.modelCategory}">00</td>
                                </tr>
                                <tr>
                                    <th>변속방식</th>
                                    <td th:text="${car.model.modelTransmission}">00</td>
                                </tr>
                                <tr>
                                    <th>좌석 수</th>
                                    <td th:text="${car.model.modelSeateNum}">00</td>
                                </tr>
                                <tr>
                                    <th>1시간 대여료</th>
                                    <td th:text="${car.model.modelAmountHour}">00</td>
                                </tr>
                                <tr>
                                    <th>1일 대여료</th>
                                    <td th:text="${car.model.modelAmountDay}">00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-go-back"
                    th:onclick="'location.href=\'' + @{/api/admin/vehicles} + '\''">
                    목록으로
                </button>
            </div>
        </div>


    </div>
</body>

</html>