<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{layout/layout}">

<head>
    <title>차량 관리 수정</title>
    <link rel="stylesheet" th:href="@{/css/car/car-update.css}">
    <!-- 카카오 지도 -->
    <script type="text/javascript"
            src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=7466a0cf7003b23d8dfdda02010725c3"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body th:data-car-id="${modify.carId}">
<div class="content" layout:fragment="content">

    <div class="header">
        차량 관리
    </div>
    <div class="info">
        <div class="header-sm">
            차량 관리 > 차량 상세 조회 > 차량 수정
        </div>
        <div class="info-box-big-group">
            <div class="info-box-big-1">
                <form id="model_modify" th:action="@{/admin/vehicles/modify/{carId}(carId=${modify.carId})}"
                      method="post">
                    <div class="info-box">
                        <div class="info-box-title" th:text="|${modify.carId}번 차량 정보 변경|"></div>
                        <div class="info-box-content">

                            <input type="hidden" name="_method" value="PUT">
                            <input type="hidden" id="carId" th:value="${modify.carId}">

                            <div class="info-box-content-row">
                                <label for="modelBrand">제조사</label>
                                <select id="modelBrand" name="model.modelBrand">
                                    <option th:each="brand: ${mBrandList}" th:value="${brand}" th:text="${brand}"
                                            th:selected="${modify.model.modelBrand == brand}">
                                    </option>
                                </select>
                            </div>
                            <div class="info-box-content-row">
                                <label for="modelName">모델명</label>
                                <select id="modelName" name="model.modelName">
                                    <option th:each="mName: ${mNameList}" th:value="${mName}" th:text="${mName}"
                                            th:selected="${modify.model.modelName == mName}">
                                    </option>
                                </select>
                            </div>
                            <div class="info-box-content-row">
                                <label for="carYear">연식</label>
                                <select id="carYear" name="carYear">
                                    <option th:each="year: ${yearList}" th:value="${year}" th:text="${year}"
                                            th:selected="${modify.carYear == year}">
                                    </option>
                                </select>
                            </div>
                            <div class="info-box-content-row">
                                <label for="carFuel">연료</label>
                                <select id="carFuel" name="carFuel">
                                    <option th:each="fuel : ${fuelList}" th:value="${fuel}" th:text="${fuel}"></option>
                                </select>
                            </div>
                            <div class="info-box-content-row">
                                <label for="carGrade">등급</label>
                                <select id="carGrade" name="carGrade">
                                    <option th:each="grade : ${gradeList}" th:value="${grade}" th:text="${grade}">
                                    </option>
                                </select>
                            </div>
                            <div class="info-box-content-row">
                                <label for="carCategory">서비스 카테고리</label>
                                <select id="carCategory" name="carCategory" required>
                                    <option value="0">빠른대여</option>
                                    <option value="1">단기대여</option>
                                </select>
                            </div>
                        </div>
                        <div class="info-box-title">보유 주차장 변경</div>
                        <div class="info-box-content two">
                            <div class="info-box-content-row">
                                <label for="parkingProvince">도/시</label>
                                <select id="parkingProvince" name="parking.province">
                                    <option value="">도/시 선택</option>
                                    <option th:each="province : ${provinceList}" th:value="${province}"
                                            th:text="${province}"
                                            th:selected="${province == modify.parking.parkingProvince}">
                                    </option>
                                </select>
                            </div>
                            <div class="info-box-content-row">
                                <label for="parkingDistrict">행정구역</label>
                                <select id="parkingDistrict" name="parking.district">
                                    <option value="">행정구역 선택</option>
                                    <option th:each="district : ${districtList}" th:value="${district}"
                                            th:text="${district}"
                                            th:selected="${district == modify.parking.parkingDistrict}">
                                    </option>
                                </select>
                            </div>
                            <div class="info-box-content-row">
                                <label for="carParking">주차장 이름</label>
                                <select id="carParking" name="parking.parkingId">
                                    <option value="">주차장 선택</option>
                                    <option th:each="parking : ${parkingList}" th:value="${parking.parkingId}"
                                            th:text="${parking.parkingName}"
                                            th:selected="${parking.parkingId.equals(modify.parking.parkingId)}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="info-box-content">
                            <div class="info-box-content-row">
                                <label for="parkingLatitude">위도</label>
                                <input type="text" id="parkingLatitude" name="parkingLatitude"
                                       th:value="${modify.parking.parkingLatitude}" readonly/>
                            </div>
                            <div class="info-box-content-row">
                                <label for="parkingLongtitude">경도</label>
                                <input type="text" id="parkingLongtitude" name="parkingLongtitude"
                                       th:value="${modify.parking.parkingLongtitude}" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn-go-back"
                                th:onclick="'location.href=\'' + @{/admin/vehicles} + '\''">
                            목록으로
                        </button>
                        <div>
                            <button type="submit" class="btn-update" id="submit">
                                수정완료
                            </button>
                            <button type="button" class="btn-reset" id="reset"
                                    th:onclick="'location.href=\'' + @{/admin/vehicles/{carId}(carId=${modify.carId})} + '\''">
                                취소하기
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="info-box-big-2">
                <div id="map" class="info-box-map-update"></div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="js">
    <script src="/js/car/carModify.js"></script>
</div>
</body>

</html>