<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
    layout:decorate="~{layout/layout}">

<head>
    <title>차량 관리 수정</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/car/car-update.css}">
    </th:block>

    <script th:src="@{/js/inquiry/inquiry.js}" defer></script>

    <!-- <link rel="stylesheet" href="../../static/css/car/car-update.css"> -->
</head>

<body>
    <div class="content" layout:fragment="content">

        <div class="header">
            차량 관리
        </div>

        <div class="info">
            <div class="header-sm">
                차량 관리 > 차량 상세 조회 > 차량 수정
            </div>
            <form id="reply-form" action=""
                method="post" onsubmit="return validateForm()">
                <div class="info-box-big">

                    <div class="info-box box1">
                        <div class="info-box-title">차량 정보 변경</div>
                        <div class="info-box-content">
                            <div>
                                <label for="carModel">차량 모델</label>
                                <select name="carModel" id="carModel" >
                                    <option value="1">모델1</option>
                                    <option value="2">모델2</option>
                                    <option value="3">모델3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="info-box box2">
                        <div class="info-box-title">차량 정보 변경</div>
                        <div class="info-box-content">
                            <table class="info-box-content-table">
                                <tbody>
                                    <tr>
                                        <th>문의 게시글 ID</th>
                                        <t></t>
                                    </tr>
                                    <tr>
                                        <th>사용자 번호</th>
                                        <t></t>
                                    </tr>
                                    <tr>
                                        <th>질문</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>질문 작성일</th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="btn-group">
                    <button type="button" class="btn-go-back"
                        onclick="">
                        목록으로
                    </button>
                    <button type="submit" class="btn-update" id="submit">
                        수정
                    </button>
                </div>
            </form>
        </div>

    </div>
</body>

</html>