<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>차량 수정</title>
</head>
<body>

<h1>차량 수정</h1>

<form th:action="@{/cars/update}" th:object="${car}" method="post">
  <label for="carId">차량 ID</label>
  <input type="text" id="carId" th:field="*{carId}" readonly="readonly" /><br/><br/>

  <label for="carManufacture">제조사</label>
  <input type="text" id="carManufacture" th:field="*{carManufacture}" /><br/><br/>

  <label for="carCategory">카테고리</label>
  <input type="text" id="carCategory" th:field="*{carCategory}" /><br/><br/>

  <label for="carName">차량명</label>
  <input type="text" id="carName" th:field="*{carName}" /><br/><br/>

  <label for="carYear">연도</label>
  <input type="text" id="carYear" th:field="*{carYear}" /><br/><br/>

  <label for="carFuel">연료</label>
  <input type="text" id="carFuel" th:field="*{carFuel}" /><br/><br/>

  <label for="carSeateNum">좌석 수</label>
  <input type="number" id="carSeateNum" th:field="*{carSeateNum}" /><br/><br/>

  <label for="carTransmission">변속기</label>
  <input type="text" id="carTransmission" th:field="*{carTransmission}" /><br/><br/>

  <input type="submit" value="수정하기" />
</form>

<br>
<a href="/cars">목록으로 돌아가기</a>

</body>
</html>
