<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{layout/layout}">

<head>
    <title>주차장 관리 수정</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/parking/parking-update.css}">
    </th:block>

    <!-- 카카오 지도 -->
    <script type="text/javascript"
            src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=1fc1193a647e2229d02c81559ac53d9e"></script>

</head>

<body>
<div class="content" layout:fragment="content">

    <div class="header">
        주차장 관리
    </div>

    <div class="info">
        <div class="header-sm">
            주차장 관리 > 주차장 상세 조회 > 주차장 정보 수정
        </div>
        <form id="parkingModify"
               th:action="@{/admin/parkings/{parkingId}/modify(parkingId=${modify.parkingId})}"
               method="post">
        <input type="hidden" name="_method" value="PUT">
            <div class="info-box-big">

                <div class="info-box box1">
                    <div class="info-box-title" th:text="|${modify.parkingName} 주차장의 정보 수정|"></div>
                    <div class="info-box-content">
                        <div class="info-box-content-row">
                            <label for="parkingName">주차장 이름</label>
                            <input type="text" id="parkingName" name="parkingName" th:value="${modify.parkingName}" required>
                        </div>
                        <div class="info-box-content-row">
                            <label for="parkingAddress">주차장 주소</label>
                            <input type="text" id="parkingAddress" name="parkingAddress" th:value="${modify.parkingAddress}"
                                   required>
                        </div>
                        <div class="info-box-content-row">
                            <label for="parkingProvince">주차장 관할 지역</label>
                            <select name="parkingProvince" id="parkingProvince" required>
                                <option th:each="province : ${provinceList}"
                                        th:value="${province}"
                                        th:text="${province}"
                                        th:selected="${modify.parkingProvince == province}">
                                </option>
                            </select>
                        </div>
                        <div class="info-box-content-row">
                            <label for="parkingDistrict">주차장 관할 도시</label>
                            <input type="text" id="parkingDistrict" name="parkingDistrict" th:value="${modify.parkingDistrict}"
                                   required>
                        </div>
                    </div>

                    <div class="info-box-content">
                        <div class="info-box-content-row">
                            <label for="parkingLatitude">위도</label>
                            <input type="text" id="parkingLatitude" name="parkingLatitude" th:value="${modify.parkingLatitude}"
                                   required>
                        </div>
                        <div class="info-box-content-row">
                            <label for="parkingLongtitude">경도</label>
                            <input type="text" id="parkingLongtitude" name="parkingLongtitude"
                                   th:value="${modify.parkingLongtitude}" required>
                        </div>
                    </div>
                </div>

            </div>

            <div class="btn-group">
                <button type="button" class="btn-go-back"
                        th:onclick="|location.href='@{/admin/parkings}'|">
                    목록으로
                </button>
                <div>
                    <button type="button" class="btn-reset" id="reset"
                            th:onclick="'location.href=\'' + @{/admin/parkings/{parkingId}(parkingId=${modify.parkingId})} + '\''">
                        취소하기
                    </button>
                    <button type="submit" class="btn-update" id="submit">
                        수정완료
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
</body>

</html>