<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.rentalcar.mapper.AdminParkingMapper">

    <!-- AdminParkingMapper.xml -->
    <select id="getDistrictsByProvince" resultType="String">
        SELECT DISTINCT parking_district
        FROM parking
        WHERE parking_province = #{province}
    </select>

    <!--    전체 주차장 목록-->
    <select id="findAll" resultType="com.road_friends.rentalcar.dto.AdminParkingDto">
        SELECT * FROM parking;
    </select>

    <!--    주차장 검색-->
    <select id="findByParking" resultType="com.road_friends.rentalcar.dto.AdminParkingDto">
        SELECT * FROM parking WHERE parking_id = #{parkingId};
    </select>

    <!--    새로운 주차장 추가-->
    <insert id="addParking" parameterType="com.road_friends.rentalcar.dto.AdminParkingDto">
        INSERT INTO parking (parking_name, parking_address, parking_latitude, parking_longtitude,
        parking_province, parking_district)
        VALUES (#{parkingName},#{parkingAddress}, #{parkingLatitude}, #{parkingLongtitude},
        #{parkingProvince}, #{parkingDistrict});
    </insert>

    <!--    주차장 수정-->
    <insert id="modifyParking" parameterType="com.road_friends.rentalcar.dto.AdminParkingDto">
        UPDATE parking
        SET parking_name = #{parkingName},
        parking_address = #{parkingAddress},
        parking_latitude = #{parkingLatitude},
        parking_longtitude = #{parkingLongtitude},
        parking_province =  #{parkingProvince},
        parking_district =  #{parkingDistrict}
        WHERE parking_id = #{parkingId};
    </insert>

    <!--    주차장 삭제-->
    <delete id="deleteParking">
        DELETE FROM parking WHERE parking_id = #{parkingId};
    </delete>

    <!--    주차장 차트-->
    <select id="getTop5ParkingStats" resultType="com.road_friends.rentalcar.dto.AdminParkingDto">
        SELECT
        p.parking_id AS parkingId,
        p.parking_name AS parkingName,
        p.parking_address AS parkingAddress,
        p.parking_latitude AS parkingLatitude,   -- 수정된 부분
        p.parking_longtitude AS parkingLongitude, -- 수정된 부분
        p.parking_province AS parkingProvince,
        p.parking_district AS parkingDistrict,
        COUNT(c.car_id) AS carCount
        FROM parking p
        LEFT JOIN car c ON p.parking_id = c.rental_station
        GROUP BY p.parking_id
        ORDER BY carCount DESC
        LIMIT 5
    </select>

    <select id="getParkingCountByRegion" resultType="map">
        SELECT
        parking_province AS region,
        COUNT(*) AS parking_count
        FROM parking
        GROUP BY parking_province
    </select>

</mapper>