<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.rentalcar.mapper.APIInquiriesMapper">

    <!-- 로그인한 사용자의 문의사항 전체 조회 -->
    <select id="getUserInquiries" resultType="com.road_friends.rentalcar.dto.APIInquiriesDto">
        SELECT
        inquiries_num, user_num, inquiries_q, inquiries_a,
        inquiries_q_created_at, inquiries_a_created_at, inquiries_status
        FROM inquiries
        WHERE user_num = #{userNum}
        LIMIT #{offset}, #{size};  <!-- LIMIT과 OFFSET을 사용하여 페이징 처리 -->
    </select>

    <!-- 전체 데이터의 수를 구하는 쿼리 추가 -->
    <select id="getUserInquiriesCount" resultType="int">
        SELECT COUNT(*) FROM inquiries WHERE user_num = #{userNum};
    </select>

    <!-- 로그인한 사용자의 특정 문의사항 상세 조회 -->
    <select id="getUserInquiryDetail"  resultType="com.road_friends.rentalcar.dto.APIInquiriesDto">
        SELECT
        inquiries_num, user_num, inquiries_q, inquiries_a,
        inquiries_q_created_at, inquiries_a_created_at
        FROM inquiries
        WHERE inquiries_num = #{inquiriesNum};
    </select>

</mapper>