<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.rentalcar.mapper.APIPointMapper">

    <!-- 총 포인트 조회 -->
    <select id="getTotalPoints" resultType="int">
        SELECT COALESCE(SUM(change_amount), 0)
        FROM point_history
        WHERE user_num = #{userNum}
    </select>

    <!-- 포인트 적립 내역 조회 -->
    <select id="getPointHistory" resultType="com.road_friends.rentalcar.dto.APIPointDto">
        SELECT user_num, change_amount AS changeAmount, change_type AS changeType, updated_at AS updatedAt
        FROM point_history
        WHERE user_num = #{userNum}
        ORDER BY updated_at DESC
    </select>
</mapper>
