<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.rentalcar.mapper.APIUserMapper">
    <!-- 로그인한 사용자 정보 조회 -->
    <select id="findById" resultType="com.road_friends.rentalcar.dto.APIUserDto">
        SELECT * FROM user WHERE user_num = #{userId}
    </select>

    <!-- 로그인한 사용자 정보 수정 -->
    <update id="update">
        UPDATE user
        SET user_name = #{userName}, user_email = #{userEmail}, user_phone = #{userPhone}
        WHERE user_num = #{userNum}
    </update>

    <!-- 로그인한 사용자 정보 삭제 -->
    <delete id="delete">
        DELETE FROM user WHERE user_num = #{userId}
    </delete>


</mapper>

