<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.rentalcar.mapper.ParkingMapper">

    <!--    전체 주차장 목록-->
    <select id="findAll" resultType="com.road_friends.rentalcar.dto.ParkingDto">
        SELECT * FROM parking;
    </select>

    <!--    주차장 검색-->
    <select id="findByParking" resultType="com.road_friends.rentalcar.dto.ParkingDto">
        SELECT * FROM parking WHERE parking_id = #{parkingId};
    </select>

    <!--    새로운 주차장 추가-->
    <insert id="addParking" parameterType="com.road_friends.rentalcar.dto.ParkingDto">
        INSERT INTO parking (parking_name, parking_address, parking_latitude, parking_longtitude,
        parking_province, parking_district)
        VALUES (#{parkingName},#{parkingAddress}, #{parkingLatitude}, #{parkingLongtitude},
        #{parkingProvince}, #{parkingDistrict});
    </insert>

    <!--    주차장 수정-->
    <insert id="modifyParking" parameterType="com.road_friends.rentalcar.dto.ParkingDto">
        UPDATE parking
        SET parking_name = #{parkingName},
        parking_address = #{parkingAddress},
        parking_latitude = #{parkingLatitude},
        parking_longtitude = #{parkingLongtitude}
        parking_province =  #{parkingProvince},
        parking_district =  #{parkingDistrict}
        WHERE parking_id = #{parkingId};
    </insert>

    <!--    주차장 삭제-->
    <delete id="deleteParking">
        DELETE FROM parking WHERE parking_id = #{parkingId};
    </delete>

</mapper>