<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.road_friends.rentalcar.mapper.ReservationMapper">

    <!-- 예약이 많은 시간대 TOP 5 -->
    <select id="getTopRentalHours" resultType="com.road_friends.rentalcar.dto.DataPoint">
        SELECT HOUR(rental_datetime) AS label, COUNT(*) AS count
        FROM fast_reservation
        GROUP BY HOUR(rental_datetime)
        ORDER BY count DESC
        LIMIT 5
    </select>

    <!-- 가장 많이 대여된 지역 TOP 5 -->
    <select id="getTopRentalLocations" resultType="com.road_friends.rentalcar.dto.DataPoint">
        SELECT rental_location AS label, COUNT(*) AS count
        FROM fast_reservation
        GROUP BY rental_location
        ORDER BY count DESC
        LIMIT 5
    </select>

    <!-- 가장 인기 있는 차량 TOP 5 -->
    <select id="getPopularCars" resultType="com.road_friends.rentalcar.dto.DataPoint">
        SELECT car_id AS label, COUNT(*) AS count
        FROM fast_reservation
        GROUP BY car_id
        ORDER BY count DESC
        LIMIT 5
    </select>

</mapper>
